
$bgc-red: #f2111e;
$bgc-transparent: #ec1b2c00;
$main_color: #000;
$mainfont-family: "Montserrat", sans-serif, "Geologica", sans-serif, "Roboto",
  sans-serif, "Rubik", sans-serif;
$main-bl:#0060FC;


